@media (max-width: 575.98px) {
  .SmallDevicesNavigationBarClass {
    display: block;
    position: relative;
    background-color: #F94E96;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 11vw;
  }

  .MenuButtonImgClass {
    position: absolute;
    top: 3vw;
    left: 3.5vw;
    height: 5vw;
    cursor: pointer;
  }

  .MENUButtonClass {
    position: absolute;
    top: 0vw;
    left: 12.5vw;
    height: 11vw;
    color: #FFFFFF;
    background-color: Transparent;
    border: none;
  }

  .SmallDevicesMenuClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
    overflow: auto;
  }

  .SmallDevicesMenuButtonClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 11vw;
    font-size: 3vw;
    border: none;
    background-color: #F94E96;
    color: #EEEDEE;
    text-align: left;
    padding-left: 3.5vw;
    border-top: 0.25vw solid #EEEDEE;
  }

  .SmallDevicesMenuButtonClass:hover {
    color: #1E1F21;
  }

  .SocialMediaButtonClass {
    position: relative;
    top: 3vw;
    left: 70vw;
    height: 5vw;
    cursor: pointer;
    margin-left: 2.5vw;
  }

  .page1DivClass, .page2DivClass, .page3DivClass {
    display: block;
    position: relative;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 100vw;
  }

  .SmallDevicesFooterDivClass {
    display: block;
    position: relative;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 87.5vw;
  }

  .SmallDevicesStripedDivClass {
    position: relative;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 17.5vw;
    background-image: linear-gradient(45deg, #dbdbdb 25%, #f4f4f4 25%, #f4f4f4 50%, #dbdbdb 50%, #dbdbdb 75%, #f4f4f4 75%, #f4f4f4 100%);
    background-size: 5.66px 5.66px;
  }

  .SmallDevicesLegacyDivClass{
    position: relative;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 70vw;
    background-color: #f4f4f4;
  }
}
