@media (max-width: 575.98px) {
  .SmallDevicesNavigationBarClass {
    display: block;
    position: relative;
    z-index: 0;
    background-color: #F94E96;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 11vw;
  }

  .MenuButtonImgClass {
    position: absolute;
    top: 3vw;
    left: 3.5vw;
    height: 5vw;
    cursor: pointer;
  }

  .MENUButtonClass {
    position: absolute;
    top: 0vw;
    left: 12.5vw;
    height: 11vw;
    color: #FFFFFF;
    background-color: Transparent;
    border: none;
  }

  .SmallDevicesMenuClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
    overflow: auto;
  }

  .SmallDevicesMenuButtonClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 11vw;
    font-size: 3vw;
    border: none;
    background-color: #F94E96;
    color: #EEEDEE;
    text-align: left;
    padding-left: 3.5vw;
    border-top: 0.25vw solid #EEEDEE;
  }

  .SmallDevicesMenuButtonClass:hover {
    color: #1E1F21;
  }

  .SocialMediaButtonClass {
    position: relative;
    top: 3vw;
    left: 70vw;
    height: 5vw;
    cursor: pointer;
    margin-left: 2.5vw;
  }
}
