@media (min-width: 576px) and (max-width: 767.98px) {
  .SmallDevicesNavigationBarClass {
    display: block;
    position: relative;
    z-index: 0;
    background-color: #F94E96;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 7.5vw;
  }

  .MenuButtonImgClass {
    position: absolute;
    top: 2.25vw;
    left: 3.5vw;
    height: 3vw;
    cursor: pointer;
  }

  .MENUButtonClass {
    position: absolute;
    top: 0vw;
    left: 9vw;
    height: 7.5vw;
    color: #FFFFFF;
    background-color: Transparent;
    border: none;
  }

  .SmallDevicesMenuClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
    overflow: auto;
  }

  .SmallDevicesMenuButtonClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 6vw;
    font-size: 1.75vw;
    border: none;
    background-color: #F94E96;
    color: #EEEDEE;
    text-align: left;
    padding-left: 3.5vw;
    border-top: 0.1vw solid #EEEDEE;
  }

  .SmallDevicesMenuButtonClass:hover {
    color: #1E1F21;
  }

  .SocialMediaButtonClass {
    position: relative;
    top: 2.25vw;
    left: 75vw;
    height: 3vw;
    cursor: pointer;
    margin-left: 2.5vw;
  }
}
